spring:
  config:
    import: "optional:configserver:"

  application:
    name: ${APPLICATION_SERVICE_NAME:notification-service}

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
        jdbc.lob.non_contextual_creation: true
        boot:
          allow_jdbc_metadata_access: true
        globally_quoted_identifiers: true

  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USER}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

  devtools:
    restart:
      enabled: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID}
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: true
    listener:
      ack-mode: record
      type: single

app:
  frontendUrl: ${APP_FRONTEND_URL}
  name: ${APP_NAME}


server:
  port: ${SERVER_PORT}
  error:
    include-message: always

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_DEFAULT_ZONE}
  instance:
    prefer-ip-address: true

jwt:
  secret:
    current: ${JWT_SECRET_CURRENT}
    previous: ${JWT_SECRET_PREVIOUS:${JWT_SECRET_CURRENT} }
  expiration: ${JWT_EXPIRATION}
  refresh:
    expiration: ${JWT_REFRESH_EXPIRATION}

gateway:
  trust:
    secret: ${GATEWAY_TRUST_SECRET}

internal:
  secret: ${INTERNAL_SECRET}

management:
  endpoints:
    web:
      exposure:
        include: "*"   # health,info,metrics
  endpoint:
    health:
      show-details: always # when_authorized
  health:
    mail:
      enabled: false

logging:
  level:
    com.codeandskills: DEBUG
    org.springframework.kafka: DEBUG
    org.apache.kafka: INFO