spring:
  config:
    activate:
      on-profile: local

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.codeandskills: DEBUG
    org.springframework.security: DEBUG
    org.springframework.kafka: DEBUG
    org.apache.kafka: INFO