spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: ${DB_URL:jdbc:postgresql://postgres:5432/codeandskills}
  jpa:
    hibernate:
      ddl-auto: validate


# Et dans docker-compose.yml
#user-profile-service:
#  environment:
#    SPRING_PROFILES_ACTIVE: docker
#    DB_URL: jdbc:postgresql://postgres:5432/codeandskills
#    DB_USER: postgres
#    DB_PASSWORD: postgres
#    EUREKA_CLIENT_DEFAULT_ZONE: http://discovery-service:8761/eureka/
#    KAFKA_BOOTSTRAP_SERVERS: kafka:29092
#    JWT_SECRET_CURRENT: change_me_in_docker
#    JWT_SECRET_PREVIOUS: change_me_in_docker
#    GATEWAY_TRUST_SECRET: change_me_in_docker
#    INTERNAL_SECRET: change_me_in_docker
#    STRIPE_API_KEY: your_docker_key
#    STRIPE_PUBLIC_KEY: your_docker_public
#    STRIPE_WEBHOOK_SECRET: your_docker_webhook_secret