spring:
  config:
    import: "optional:configserver:"

  application:
    name: ${APPLICATION_SERVICE_NAME:auth-service}

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
        jdbc.lob.non_contextual_creation: true
        boot:
          allow_jdbc_metadata_access: true

  devtools:
    restart:
      enabled: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true

server:
  port: ${SERVER_PORT}
  error:
    include-message: always

jwt:
  secret:
    current: ${JWT_SECRET_CURRENT}
    previous: ${JWT_SECRET_PREVIOUS:${JWT_SECRET_CURRENT}}
  expiration: ${JWT_EXPIRATION}
  refresh:
    expiration: ${JWT_REFRESH_EXPIRATION}

gateway:
  trust:
    secret: ${GATEWAY_TRUST_SECRET}

internal:
  secret: ${INTERNAL_SECRET}

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_DEFAULT_ZONE}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"   # health,info,metrics
  endpoint:
    health:
      show-details: always # when_authorized
  health:
    mail:
      enabled: false

app:
  frontendUrl: ${APP_FRONTEND_URL}
  name: ${APP_NAME}

logging:
  level:
    com.codeandskills: DEBUG
    org.springframework.security: INFO