spring:
  config:
    activate:
      on-profile: docker

  jpa:
    hibernate:
      ddl-auto: validate

  datasource:
    # En docker, tu surcharges juste l’URL DB par défaut
    url: ${DB_URL:jdbc:postgresql://postgres:5432/codeandskills}


# docker-compose.yml tu auras:

#auth-service:
#  environment:
#    SPRING_PROFILES_ACTIVE: docker
#    DB_URL: jdbc:postgresql://postgres:5432/codeandskills
#    DB_USER: postgres
#    DB_PASSWORD: postgres
#    EUREKA_CLIENT_DEFAULT_ZONE: http://discovery-service:8761/eureka/
#    KAFKA_BOOTSTRAP_SERVERS: kafka:29092
#    JWT_SECRET_CURRENT: change_me_in_docker
#    JWT_SECRET_PREVIOUS: change_me_in_docker
#    GATEWAY_TRUST_SECRET: change_me_in_docker
#    INTERNAL_SECRET: change_me_in_docker