
spring:
  config:
    import: "optional:configserver:"

  application:
    name: ${APPLICATION_SERVICE_NAME:file-service}

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
        jdbc.lob.non_contextual_creation: true
        boot:
          allow_jdbc_metadata_access: true
        globally_quoted_identifiers: true

  devtools:
    restart:
      enabled: true

server:
  port: ${SERVER_PORT}
  error:
    include-message: always

jwt:
  secret:
    current: ${JWT_SECRET_CURRENT}
    previous: ${JWT_SECRET_PREVIOUS:${JWT_SECRET_CURRENT}}
  expiration: ${JWT_EXPIRATION}
  refresh:
    expiration: ${JWT_REFRESH_EXPIRATION}

stripe:
  api:
    key: ${STRIPE_SECRET_KEY}
  public:
    key: ${STRIPE_PUBLIC_KEY}
  webhook:
    secret: ${STRIPE_WEBHOOK_SECRET}

aws:
  s3:
    region: ${AWS_S3_REGION}
    access-key: ${AWS_S3_ACCESS_KEY}
    secret-key: ${AWS_S3_SECRET_KEY}
    bucket-name: ${AWS_S3_BUCKET_NAME}

gateway:
  trust:
    secret: ${GATEWAY_TRUST_SECRET}

internal:
  secret: ${INTERNAL_SECRET}

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_DEFAULT_ZONE}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"   # health,info,metrics
  endpoint:
    health:
      show-details: always # when_authorized
  health:
    mail:
      enabled: false

logging:
  level:
    org.springframework.security: DEBUG
    feign: DEBUG
    com.codeandskills: DEBUG

services:
  user-profile-service:
    url: ${USER_PROFILE_SERVICE_URL}
  catalog-service:
    url: ${CATALOG_SERVICE_URL}

app:
  frontendUrl: ${APP_FRONTEND_URL}
  name: ${APP_NAME}