<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Remboursement effectué</title>
</head>
<body>
<div class="container">
    <h2>Bonjour <span th:text="${userName}">Utilisateur</span> 💸</h2>
    <p>Suite a votre demande nous avons éfféctué le remboursement de votre achats sur note site d'une valeur de =  <strong th:text="${amount}"></strong> <span th:text="${currency}"></span>.</p>
    <p>Raison : <span th:text="${reason}">Remboursement de commande</span></p>
    <p>Vous retouverez les détails dans votre espace sur notre site</p>

    <hr/>
    <p>Cordialement, </p>
    <p>Service client</p>
</div>
</body>
</html>